a{
    font-family: "Open Sans", sans-serif;
    color: rgba(85, 85, 85, 1);

}

h1{
    width: 969px;
    font-family: "Open Sans", sans-serif;
    font-size: 56px;
    line-height: 64px;
    text-align: left;
    color: rgba(17, 17, 17, 1);
}

p{
    width: 839px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px; 
    text-align: left;
    color: rgba(85, 85, 85, 1);
  
}

.daniel {
    height: 20px;
    font-family: "Open Sans", sans-serif;
    color: rgba(0, 0, 0, 1);
}

.data{
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
}

div{
    width: 1020px;
    height: 0px;
    border: 1px solid rgba(176, 175, 175, 1)
}

.conteudo1{
    width: 691px;
    height: 160px;
    top: 623px;
    left: 375px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;

}

.conteudo1 strong{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: red;

}

ul{
    width: 675px;
    height: 192px;
    top: 797px;
    left: 382px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: rgba(166, 19, 10, 1);

}

.conteudo2{
    width: 685px;
    height: 224px;
    top: 1014px;
    left: 375px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;

}

.conteudo2 strong{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: red;

}

.conteudo3{
    width: 683px;
    height: 128px;
    top: 1255px;
    left: 375px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;

}

.txnegrito {
    width: 422px;
    height: 32px;
    top: 1401.15px;
    left: 375px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: rgba(51, 51, 51, 1);

}

h2{
    width: 437px;
    height: 36px;
    top: 1465.2px;
    left: 375px;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: rgba(17, 17, 17, 1);

}

.conteudo4{
    width: 669px;
    height: 224px;
    top: 1520px;
    left: 375px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: rgba(51, 51, 51, 1);


}

.conteudo5{
    width: 665px;
    height: 252px;
    top: 1766px;
    left: 389px;
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: rgba(51, 51, 51, 1);


}

.linha{
    padding-left: 10px;
    border-left: 3px solid rgba(166, 19, 10, 1)
}